{% extends 'base.html' %}
{% block content %}
    <table width="100%" border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Introduction</th>
                <th>Publish Date</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {% for post in object_list %}
                <tr>
                    <td>
                        {{ post.title }}
                    </td>
                    <td>
                        {% if post.summary %}
                            {{ post.summary }}
                        {% else %}
                            Unassigned
                        {% endif %}
                    </td>
                    <td>
                        {% if post.publish_date %}
                            {{ post.publish_date }}
                        {% else %}
                            Unassigned
                        {% endif %}
                    </td>
                    <td>
                        {{ post.blog.owner.first_name }} {{ post.blog.owner.last_name }}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}